.cart-more-options {
  /** Here you can implement the overwrite styles */

  display: block;

  .sample-dialog-container,
  .sample-toast-container {
    display: inline-block;
    margin-left: 10px;
  }
}
