body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
}

 /** Custom Scrollbar */
 * {
  box-sizing: border-box;
}
@media only screen and (min-width: 1025px) and (max-width: 1280px), only screen and (min-width: 1281px) {
  *::-webkit-scrollbar {
    width: 8px;
 }
  *::-webkit-scrollbar-thumb {
    background-color: #d3d4d9;
    background-clip: padding-box;
    border-radius: 2rem;
    border: 1px solid transparent;
 }
  *::-webkit-scrollbar-track {
    background-color: transparent;
 }
  *::-webkit-scrollbar-button {
    background-color: transparent;
 }
  * {
    scrollbar-face-color: #d3d4d9;
    scrollbar-shadow-color: transparent;
    scrollbar-highlight-color: transparent;
 }
  * {
    scrollbar-width: thin;
    scrollbar-color: #d3d4d9 transparent;
 }
}

main {
  display: block;
  position: relative;
  width: 80%;
}

section {
  position: relative;
  margin: 20px auto;
}

section fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}

section fieldset:last-child {
  margin-bottom: 0;
}

section fieldset legend {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
}

section fieldset label {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

section fieldset label span {
  position: relative;
  font-size: 14px;
}

section fieldset label.required::after {
  content: '*';
  color: #f44336;
}

select {
  border-radius: 2px;
  border: 1px solid #ccc;
  outline: none;
  padding: 5px;
  color: #5f6368;
  font-size: 1rem;
}

textarea {
  width: 100%;
  height: 120px;
  min-height: 120px;
  background-color: #323232;
  box-sizing: border-box;
  color: #fafafa;
  border-radius: 4px;
  border: none;
  outline: none;
  resize: vertical;
}

textarea::selection {
  background: #a8d1ff;
}
textarea::-moz-selection {
  background: #a8d1ff;
}

button {
  cursor: pointer;
  padding: 8px;
  border-radius: 2px;
  border: 1px solid #c3c3c3;
  background-color: #e6e7e7;
  font-size: 1rem;
}

button:hover,
button:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #848d95;
}

.link {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  color: rgba(247, 25, 99, 0.9);
  font-size: 12px;
  outline: none;
  border: none;
}

.link:hover,
.link:focus {
  border: none;
  text-decoration: underline;
  color: #f71963;
}

.hidden {
  display: none !important;
}

.row {
  display: block;
  margin-bottom: 10px;
}

.output-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 150px;
  background-color: #323232;
  box-sizing: border-box;
  border-radius: 4px;
}

.output-panel .wrapper {
  display: flex;
  flex-direction: column;
  height: 150px;
}

.output-panel label {
  font-family: monospace;
  color: whitesmoke;
  padding: 5px 10px;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.output-panel ul {
  list-style: none;
  margin: 0;
  font-family: monospace;
  height: calc(100% - 5px);
  overflow: auto;
  padding: 5px 10px;
  box-sizing: border-box;
}

.output-panel ul#success-list {
  color: #76b91a;
}

.output-panel ul#error-list {
  color: #e20d25;
}

.radio-group {
  display: inline-flex;
  gap: 20px;
  margin-top: 10px;
}

.radio-group label {
  gap: 2.5px;
}

.radio-group label:has(input[type="radio"]:checked) {
  color: #f71963;
}

#preloader {
  position: fixed;
  display: none;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
  z-index: 9999;
}

#preloader.display {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#preloader > div {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #f71963;
  border-radius: 100%;
  margin: auto;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  main {
    width: 100%;
  }

  .output-panel {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .output-panel .wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 150px;
    margin-bottom: 10px;
  }

  .output-panel ul {
    min-height: 50px;
    max-height: 250px;
  }
}
