@import './variables';
@import './mixins';

.Preloader {
  width: 40px;
  height: 40px;
  border: 5px solid $borderColor;
  border-top: 5px solid $darkGrayColor;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PrimaryButton {
  width: 100%;
  height: 40px;
  outline: none;
  background-color: $primaryColor;
  background-image: unset;
  border: unset;
  border-radius: 100px;
  font-size: 0px;
  color: transparent;
  position: relative;
  opacity: 0.95;

  &::after {
    content: 'Primary';
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.38px;
    color: white;
  }

  &:hover {
    opacity: 1;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14), 0 3px 8px 0 rgba(0, 0, 0, 0.11);
  }

  &:disabled {
    background-color: rgba($textColor, 0.08);
    @include no-select();

    &::after {
      color: rgba($textColor, 0.4);
    }
  }
}

/** This is an example class that you can remove whenever you want */
.SelectorLabel {
  display: block;
  background-color: $primaryColor;
  padding: 0 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  font-size: 10px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}
