/** Here you can add styles that you need to overwrite globally */

@import './fonts';
@import './variables';
@import './classes';

html,
body {
  margin: 0;
  /** Here you can replace with your custom font */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

// Overwrite Bootstrap styles for keeping mui styles
textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
.uneditable-input {
  border-radius: 0;
  border: unset;
  background-color: unset;
  box-shadow: unset;

  &:focus {
    border: unset !important;
    box-shadow: unset !important;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    filter: none;
    background: #fff;
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    color: $textColor;
  }
}

// Overwrite mui
[class^='MuiInputLabel'],
[class^='MuiSelect-select'],
[class^='MuiInput-input'] {
  font-family: 'Open Sans', sans-serif !important;
  color: $textColor;
}

[class^='MuiInput-root'] {
  &::before {
    border-bottom-style: solid !important;
  }
}

// -> MessageUtils -> showMessage (Comment the following code to see vtex alerts)
[class^="vtex-front-messages"]{
  display: none !important;
}

.modal-backdrop,
.default-modal {
  /** Here you can add styles that you need to overwrite */

  /** This is an example class that you can remove whenever you want */
  &::after {
    @extend .SelectorLabel;
    content: '.modal-backdrop, .default-modal';
  }
}

.client-pre-email {
  /** Here you can add styles that you need to overwrite */

  /** This is an example class that you can remove whenever you want */
  &::after {
    @extend .SelectorLabel;
    content: '.client-pre-email';
  }
}

.loading-bg {
  margin-top: unset !important;
}

.loading .loading-img,
.loading-img {
  @extend .Preloader;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  .icon-spinner {
    display: none !important;
  }
}
