@import '../../styles/classes';

.content {
  cursor: progress;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;

  .preloader {
    @extend .Preloader;
  }
}
