@import '../../../styles/variables';
@import '../../../styles/mixins';

.styledDialogTitle {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 3rem;
  margin: 0;
  padding: 0.5rem 1rem !important;
  box-sizing: border-box;

  &__closeBtn {
    position: absolute !important;
    right: 8px;
    top: 5px;
    color: $labelColor !important;
    align-self: flex-end;
    z-index: 10;
  }
}
